@model GtrTrainingHr.web.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInactive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
