@model IEnumerable<GtrTrainingHr.web.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateOrEdit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInactive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInactive)
            </td>
            <td>
                <a asp-action="CreateOrEdit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>|
                <a class="btn btn-danger" onclick="DeleteFormSubmit('@item.Id')">Delete</a>
                <form asp-action="Delete" style="display:none" id="DeleteForm_@item.Id">
                    <input name="id" value="@item.Id" />
                </form>
                
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        function DeleteFormSubmit(Id) {
            var form = $("#DeleteForm_" + Id);

            var isconfirm = confirm("Are you sure to delete?");

            if (isconfirm) {
                form.submit();
            }
        }</script>
}
