@model GtrTrainingHr.web.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Others)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Others)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtJoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtJoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desig.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
