@model IEnumerable<GtrTrainingHr.web.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateOrEdit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Others)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtJoin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desig)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Others)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtJoin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.ComName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desig.DesigName)
            </td>
            <td>
                    <a asp-action="CreateOrEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> | 
                    <a class="btn btn-danger" onclick="DeleteFormSubmit('@item.Id')">Delete</a>
                    <form asp-action="Delete" style="display:none" id="DeleteForm_@item.Id">
                        <input name="id" value="@item.Id" />
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        function DeleteFormSubmit(Id) {
            var form = $("#DeleteForm_" + Id);

            var isconfirm = confirm("Are you sure to delete?");

            if (isconfirm) {
                form.submit();
            }
        }</script>
}
